* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: 'Poppins', sans-serif;
}

#home-button {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  text-decoration: none;
  font-size: 4em;
}

button {
  cursor: pointer;
  z-index: 1;
  width: 80px;
  height: 50px;
  border-radius: 20px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.map {
  width: 100vh;
  height: 100vh;
  overflow: visible;
  display: flex;
  align-items: center;
  margin-left: 100px;
  z-index: 1;
}

.map svg {
  width: 100%;
  height: 95%;
}

.pointer {
    cursor: pointer;
}